@model Department
@{
    Layout = "layout2";
}

    <div class="container mt-5">
        <h2 class="mb-4">Update Student</h2>
        <form asp-action="update" asp-controller="department" method="post">
            <div class="form-group" hidden>
                <label asp-for="Dept_Id">Dept ID</label>
                <input asp-for="Dept_Id" class="form-control" placeholder="Enter Department ID">
                <span asp-validation-for="Dept_Id"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dept_Name">Dept Name</label>
                <input asp-for="Dept_Name" class="form-control" placeholder="Enter Department Name">
                <span asp-validation-for="Dept_Name"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dept_Capacity">Dept Capacity</label>
                <input asp-for="Dept_Capacity" class="form-control" placeholder="Enter Department Capacity">
                <span asp-validation-for="Dept_Capacity"></span>
            </div>
            <button type="submit" class="btn btn-primary mt-1">Update</button>
        </form>
    </div>
